.btn{
    display:flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
}

.btn-primary{
    margin-left: 80px;
}

.btn-primary ,.btn-secondry, .btn-tri{
    display: flex;
    padding: 5px 30px;
    background-color: black;
    color: white;
    font-weight: 400px;
    flex:1;
    align-items: center;
    border-radius: 5px;
    border-radius: 5px;
}

.btn-secondry{
    margin-left:40px;
}

.btn-tri{
    margin-left:40px;
}

.btn-primary span,
.btn-secondry span,
.btn-tri span {
  margin-right: 15px;
}

.icon {
    font-size: 20px; 
  }

span {
    font-size: 15px;
}

.form_control{
    display: flex;
    flex-direction: column;
    margin:20px 0px 0px 80px;
    width:38vw;
    position: relative;
}

.form_control input{
    height:40px;
    padding:0 8px;
    width:34vw;
    padding-top: 5px;
}

.form_control label{
    position: absolute;
    top:-12px;
    left:10px;
    background-color: white;
    padding: 0px 10px;
}

.form_control textarea {
    height:15vh;
    width:35vw;
    padding-top: 20px;
}

.btn-submit{
    padding: 5px 5px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 400px;
    width: 36vw;
    align-items: center;
    margin:20px 0px 0px 80px;
    border-radius: 5px;
    height: 40px;
}

@media screen and (max-width: 764px) {

    
    .btn {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 10px;
      width: 90vw;
    }
  
    .btn-primary,
    .btn-secondry,
    .btn-tri {
      width: 90vw;
      margin: 2px 0px 5px 5px;
      padding: 10px 12px;
    }

    .btn-secondry {
      margin: 2px 0px 5px 5px;
      padding: 10px 12px;
    }
    
    .btn-tri {
      width: 90vw;
      margin: 2px 0px 5px 5px;
      padding: 10px 12px;
    }

    .icon {
        font-size: 16px; 
      }
    
    span {
        font-size: 16px;
        padding: 1px 0px 1px 25px;
    }
    .form_control{
        display: flex;
        flex-direction: column;
        margin:20px 0px 0px 15px;
        width:100%;
        position: relative;
    }
    
    .form_control input{
        height:40px;
        margin-top:5px;
        padding:0px 5px;
        width:85vw;
    }
    
    .form_control label{
        position: absolute;
        top:-12px;
        left:10px;
        background-color: white;
        padding: 0px 10px;
    }
    
    .form_control textarea {
        height:12vh;
        width:87vw;
        padding-top: 20px;
    }
    
    .btn-submit{
        padding: 5px 25px;
        width: 90vw;
        align-items: center;
        margin:20px 0px 20px 15px;
    }

  }